.start-header-button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Модальный (фон) */
.modal {
display: none; /* Скрыто по умолчанию */
position: fixed; /* Оставаться на месте */
z-index: 1; /* Сидеть на вершине */
left: 0;
top: 0;
width: 100%; /* Полная ширина */
height: 100%; /* Полная высота */
background-color: #141024;
}

/* Модальное содержание/коробка */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-text {
    color: #FFF;
    font-family: Jost, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-top: 20px;
    text-decoration: none;
}

/* Кнопка закрытия */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}